// @mixin boton($color) {
//   color: white;
//   width: 100%;
//   background-color: $color;
//   &:hover {
//     color: white;
//     background-color: lighten($color, 10%);
//   }
// }

.logo svg {
  width: 100px;
  fill: white;
}

// .btn-entrar {
//   @include boton(red);
// }

// .btn-entrar {
//   @include boton(green);
// }

// .btn-cualquiera {
//   @include boton(purple);
// }

.boton {
  color: white;
  width: 100%;
  &:hover {
    color: white;
  }
}

@mixin btnBackground($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
}

.btn-entrar {
  @extend .boton;
  @include btnBackground(red);
}

.btn-cancelar {
  @extend .boton;
  @include btnBackground(green);
}